# Test workflow
name: Swift

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v4
    - name: Set up Swift 6.2
      uses: swift-actions/setup-swift@v3
      with:
        swift-version: '6.2'
    - name: Run tests
      working-directory: alarik
      run: ./test.sh